<ion-header>
  <ion-navbar>
    <ion-title>
      MBS quick searches
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Tilføj søgnig</h3>
  <input placeholder="navn på quick search" [(ngModel)]="Navn" >
  <input placeholder="URL" [(ngModel)]="Url">
  <button (click)="AddSearch()">Tilføj</button>
  <h5>params <button (click)="params.push({})">Tilføj</button></h5>
  <div *ngFor="let item of params">
    Navn <input [(ngModel)]="item.Navn">
    Værdi <input  [(ngModel)]="item.Value">
    <button (click)="removeFromArray(item)">Delete</button>
  </div>
  <hr>
  <div id="grid">
    <div *ngFor="let item of Searches" (click)="navigate(item)">
      <div (click)="RemoveSearch(item)" class="deleteSearch">X</div>
      {{item.Navn}}
    </div>
  </div>
</ion-content>
